
h1 {
    font-size: 48px;
    padding: 20px;
}

h2 {
    font-size: 24px;
}


header {
    background-color: blue;
    width: 100%;
}

nav {
    width: 100%;
    text-align: right;
   
}

nav li {
    color: white;
    margin-left: 20px;
    display: inline-block; 
    padding: 20px;
    
}

main {
    background-color: lightgrey;
    text-align: center;

}

main p {
    height: auto;
    width: 60%;
    margin: 20px auto;
    
}

.picture-box {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    background-image: url("https://placekitten.com/300/300"); 
    margin-left: auto;
    margin-right: auto;   
}

.picture-box h2 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.contact {
    
    padding: 20px;
    background-color: tan;
    color: white;
}

.contact-form {
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: blue;
    color: white;
}